*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
 }
body{
 background-color: #383B45;
 color: #cfcbcb;
}
/* here header starts */
.topnav{
    background-color: #2c2e38;
    overflow: hidden;
    display: flex;
    justify-content: center;
   

    flex-direction: row;
    flex-wrap: wrap;
}
.topnav a{
    float:left;
    color: #cfcbcb;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
   

    
}
.topnav a:hover{
    background-color: #ddd;
    color:black;
}
.topnav a.active{
    background-color: #04AA6D;
    color: #cfcbcb;
}

/* here finish the header */
section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}
.item{
    width: 300px;
    padding-bottom: 50px;
    text-align: justify;
    text-justify: inter-word;
}
img{
    border-radius: 10px;
    height: 400px;
    width:300px;
}
h1{
    font-size: 40px;
    padding-bottom: 30px;
}
h2{
    text-align: center;
    padding-bottom: 20px ;
}
h2:hover{
    color: #04AA6D;
    font-size: 30px
}
strong{
    font-size:18px
}
strong:hover{
    color: #04AA6D;
    font-size:22px
}
/* here body finishes */

/* here footer starts */

.container{
    padding: 2rem;
    font-size: 20px;
}
.cell{
    
    padding: 1rem;
}
.cell p a{
color: #ddd;
text-decoration: none;
}
.cell img{
    width: 50px;
    height: 50px;
}
.cell img:hover{
    width: 60px;
    height: 60px;
}
.cell h3{
    color: #04AA6D;
    background-color: #ddd;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    grid-gap: 1rem;
   
   
}